html, body {
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

#authorize {
    display: none;
}

.board {
    min-height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.column {
    margin: 5px;
    flex: 1;
    min-width: 220px;
    max-width: 400px;
    background-color: #eee;
}

    .column > .name {
        border-bottom: 2px solid #999;
        padding-bottom: 2px;
        background: white;
        text-align: center;
        font-size: 20px;
    }

    .column.completed {
        opacity: 0.5;
        pointer-events: none;
    }

.card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    margin: 10px;
    min-height: 100px;
    background-color: white;
    padding: 8px;
    cursor: n-resize;
    border-left: 5px solid #2890ff;
}

    .card > .title {
        padding: 2px;
        font-size: 13px;
        cursor: text;
    }

        .card > .title:hover,
        .card > .title:active,
        .card > .title:focus {
            outline: 1px solid #999;
            background-color: #eee;
        }

    .card > .description {
        margin-top: 5px;
        padding: 2px;
        color: #999;
        font-size: 12px;
        white-space: pre-wrap;
        cursor: text;
    }

        .card > .description:hover,
        .card > .description:active,
        .card > .description:focus {
            outline: 1px solid #999;
            background-color: #eee;
        }

    .card > .due {
        float: right;
        color: #ccc;
        font-size: 12px;
        padding-left: 2px;
    }

.task > input[type=checkbox] {
    vertical-align: middle;
}

.task > .title {
    font-size: 12px;
    margin-left: 5px;
}

.task.completed {
    text-decoration: line-through;
}